# Entornos virtuales de Python
venv/
.venv/

# Archivos temporales de Python
__pycache__/
*.pyc

# Variables privadas
.env

# Configuración local de VS Code
.vscode/

# Archivos temporales de pruebas
.pytest_cache/